
.questionCard {
  background-color: #f9f9f9de;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 625px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  
}

p {
    background-color: white;
    padding: 0.5rem;
    border-radius: 4px;
    /* font-weight:bold; */
    border: solid 1px #ccc;
}